/* Sobre */

.container{
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.conteudo{
    margin-top: 0rem;
    max-width: 70vh;
}

.logo {
    display: flex;
    flex-direction: row;
    font-family: 'Inter',sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.logo img{
    width: 7rem;
    height: 7rem;
    margin: 0rem;
    
}

.logo h1{
    margin: 1rem;
    color: #004777;
}

.sobre{
    color: #004777;
    margin-bottom: 3rem;
}

.local{
    color: #004777;
    margin-bottom: 3rem;
}

.conteudo .titulo{
    color: #049223;
    margin-bottom: 1rem;
}

/* Formulario */

.cadastro{
    background-color: #D9D9D9;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.cadastro .cadastre-se{
    color: #004777;
}

.cadastro .abas{
    color: #004777;
    margin-bottom: 2rem;
}

.cadastro .abas label{
    border: 0.1rem solid #004777;
    padding: 1.1vw;
    margin-left: 0.3rem;
    border-radius: 1rem 0rem 1rem 0rem;
}

.cadastro .abas .label1{
    background-color: #004777;
    color: #fff;
}

.cadastro .inputs{
    color: #868080;
    position: relative;
    padding-bottom: 25px;

}

.cadastro .inputUser{

    background: none;
    border: none;
    border-bottom: 1px solid #868080;
    outline: none;
    color: #868080;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}

.cadastro .labelInput{

    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .3s;
}

.cadastro .inputUser:focus ~ .labelInput,
.cadastro .inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #c1fde2;

}

.cadastro .first .direita-sexo{
    color: #868080;
}

.cadastro .first .direita-sexo > p{
    color: #696666;
}

#data-nascimento{
    color: #868080;
    background: none;
    border: none;
    outline: none;
}

#masculino{
    color: #868080;
    background: none;
    border: none;
    outline: none;
}

#next{
    border: 0.1rem solid #004777;
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    color: #004777;
    font-size: 1.3rem;
    margin-left: 12rem;
}