* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #94dfff;
}

.nav-principal {
    background-color: #004777;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.nav-principal a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.alinha-esquerda {
    float: left;
}

.alinha-direita {
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.box-clima {
    padding: 20px;    
    height: 40vh;
    width: 80vw;
    border-radius: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #324664 100%); 
}

.lua {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 573px;
    top: 225px;
    border-radius: 100%;
    background: linear-gradient(180deg, #A5C4EB -10.71%, rgba(81, 234, 255, 0) 100%);
    top: 16%;
    left: 13%;
}

.texto-cima {
    font-size: 20px;
    font-weight: 600;
    color: #c4c4c4;
}

.previsao-semanal{
    background-color: transparent;
    height: 40vh;
    width: 80vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.previsao-semanal-tudo{
    background-color: #76adeb;
    height: 12vh;
    width: 80vw;
    border-radius: 10px;
    display: flex;
    font-size:20px;
    font-weight: 600;
    justify-content: space-evenly;
}
.previsao-semanal-titulo{
    font-size: 20px;
    font-weight: 600;
}
.previsao-semanal-conteudo{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid black;
    width:20%;
}



.previsao-semanal-conteudo:nth-child(5){
    border-right:none;
}

.linha{
    width: 0.5px;
    height: 100%;
    background-color: #020202;
}