
.dia {
    color: #0077B6;
    font-size: 0.9rem;
}

.first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    margin-bottom: 10vh;
}

.avaliacoes {
    height: 280px;
    width: 50%;
    background-color: #0077B6;
    border-radius: 10px;
}

/* PROGRESS */

.title-home {
    color: #393333;
    font-size: 1.5rem;
}

.circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #ffffff;
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-size: 1.5rem;
    color: #00AFB5;
}

.circular-progress-mini {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress-mini:before {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #ffffff;
    border-radius: 50%;
}

.value-container-mini {
    position: relative;
    font-size: 1.2rem;
    color: #00AFB5;
}

.week {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    height: 50vh;
}

.ocupacao-semanal {
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ocupacao-dia {
    text-align: -webkit-center;
    width: 20%;
    height: 30vh;
}

.dia-title{
    color: #0077B6;
    padding: 15%;
    font-weight: 600;
}