* {
  padding: 0px;
  margin: 0px;
}

.container-personais {
  margin-left: 5vw;
  margin-right: 5vw;
  height: 70vh;
}

.header-blocos {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-notificacao button {
  border: none;
  background-color: #09629e;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.botoes-altera-tabela {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 1360px;
}

.botoes-altera-tabela > button {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.botoes-altera-tabela > button > i {
  font-size: 30px;
}

.container-personais-conteudo-tabela {
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.tabela-lista {
  width: 87%;
  overflow: auto;
  border-spacing: 0px;
  animation-name: fade;
  animation-duration: 1s;
}

.tabela-lista td {
  padding-left: 10px;
}

.tabela-lista > thead {
  background-color: #004777;
  color: white;
  height: 40px;
  font-size: 40px;
  text-align: left;
}

.botao-notificacao button i{
  font-size: 30px;
  color: white;
} 

.tabela-lista > tbody {
  font-size: 24px;
}

.tabela-lista > tbody > tr > td img{
  width: 30px;
  cursor: pointer;
}

 .tabela-lista > tbody > tr:nth-child(even) {
  background-color: #FFFFFF;
} 

 .tabela-lista > tbody > tr:nth-child(odd) {
  background-color: #D9D9D9;
} 

.tabela-lista > tbody > tr:hover {
  animation: 1s;
  opacity: 0.80;
}

.tabela-lista > tbody > tr{
  height: 45px;
}

.tabela-lista > thead > tr > th {
  padding-bottom: 5px;
  padding-left: 10px;
}

.botoes-altera-tabela button:hover {
  background-color: #004777;
  color: white;
  transition: 1s;
}

.div-barra-de-busca{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-barra-de-busca input{
  width: 50%;
  height: 60%;
  border: 1.5px solid black;
  border-radius: 10px 0px 0px 10px;

}

.div-barra-de-busca button{
  width: 40px;
  height: 35px;
  background-color: #2a73af;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.botao-notificacao button:hover {
  animation: 1s;
  background-color: #2a73af;
}

.img-more-tabela{
  width: 87%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-more-tabela div{
  width: 50px;
  height: 50px;
  background-color: #004777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.img-more-tabela div:hover{
  animation: 1s;
  background-color: #2a73af;
}

.img-more-tabela img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/*--------------------------------------------------------
---------------------tabela em blocos---------------------
----------------------------------------------------------*/

.container-personais-conteudo-blocos {
  display: none;
  margin-left: 5vw;
  margin-right: 5vw;
  transition-property: all;
  height: 100%;
  animation-name: fade;
  animation-duration: 1s;
}

.blocos-conteudo {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-evenly; */
  align-content: center;
}

.bloco_1 {
  background-color: #cfd4d8;
  border: 1px solid black;
  width: 30%;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-between;
  padding: 1vh;
}

.imagem-do-usuario img{
  width: 100px;
  height: 100px;
}

.imagem-editar-usuario { 
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} 

.imagem-icone-blocos {
    display: flex;
    /* justify-content: center; */
    margin-left: 5vw;
}

.imagem-editar-usuario img{
  width: 40px;
  height: 40px;
  grid-column-start: 3;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}

.bloco_1:hover {
  animation: 1s;
  scale: 1.01;
}

.bloco_1 p {
  padding: 10px;
}

.img-more-blocos{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-more-blocos div{
  width: 50px;
  height: 50px;
  background-color: #004777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.img-more-blocos div:hover{
  animation: 1s;
  background-color: #2a73af;
}

.img-more-blocos img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.imagem-editar-usuario img:hover{
  scale:1.1;
  animation:1s;
}
@media only screen and (min-width:1025px) and (max-width:1440px){
  .botoes-altera-tabela {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 81vw;
  }

  .div-barra-de-busca input {
    width: 70%;
    height: 60%;
    border: 1.5px solid black;
    border-radius: 10px 0px 0px 10px;
  }

  .div-barra-de-busca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


}

@media only screen and (min-width: 769px) and (max-width:1024px) { 
  .botoes-altera-tabela {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 79vw;
  }

.div-barra-de-busca input {
    width: 80%;
    height: 60%;
    border: 1.5px solid black;
    border-radius: 10px 0px 0px 10px;
  }

.div-barra-de-busca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}

@media only screen and (min-width: 701px) and (max-width:768px){
  .botoes-altera-tabela > button {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  .div-barra-de-busca button {
    width: 40px;
    height: 38px;
    background-color: #2a73af;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }
  .div-barra-de-busca input {
    width: 80%;
    height: 70%;
    border: 1.5px solid black;
    border-radius: 10px 0px 0px 10px;
  }
  .botoes-altera-tabela {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 76vw;
  }
  .div-barra-de-busca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 700px){
  body{
    /* background-color: #66869c; */
  } 

  .tabela-lista {
    width: 100%;
    overflow: auto;
    border-spacing: 0px;
    animation-name: fade;
    animation-duration: 1s;
  }

  .botoes-altera-tabela > button {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

.img-more-tabela {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.div-barra-de-busca button {
    width: 45px;
    height: 40px;
    background-color: #2a73af;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }

.div-barra-de-busca input {
    width: 80%;
    height: 85%;
    border: 1.5px solid black;
    border-radius: 5px 0px 0px 5px;
  }

.botoes-altera-tabela {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100vw;
  }

.div-barra-de-busca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}
@keyframes fade{

  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}